.btf-5 {
    .card-wrap {
        @include justify (space-between);
        flex-wrap: wrap;
        @media (max-width: 640px) {
            flex-direction: column;
        }
        .card {
            @include card();
            margin: 0;
            width: 50%;
            position: relative;
            padding: 66px 0 103px;
            font-size: 0;
            border-right: 2px solid #000;
            border-bottom: 2px solid #000;
            &:nth-child(1) {
                // @media (max-width: 991px) {
                //     padding: 66px 0 101px;
                // }
                @media (max-width: 771px) {
                    padding: 66px 0 101px;
                }
                @media (max-width: 640px) {
                    padding: 66px 0 101px;
                    width: 100%;
                    border-bottom: 2px solid #000;
                }
            }
            &:nth-child(2) {
                padding: 66px 0 99px;
                border-right: none;
                border-bottom: 2px solid #000;
                // @media (max-width: 991px) {
                //     padding: 66px 0 97px;
                // }
                @media (max-width: 771px) {
                    padding: 66px 0 97px;
                }
                @media (max-width: 767px) {
                    padding: 66px 0 97px;
                }
                @media (max-width: 660px) {
                    padding: 66px 0 84px;
                }
                @media (max-width: 640px) {
                    padding: 66px 0 97px;
                    width: 100%;
                }
            }
            &:nth-child(3) {
                padding: 66px 0 100px;
                margin: 0;
                border-bottom: none;
                @media (max-width: 767px) {
                    padding: 66px 0 100px;
                }
                @media (max-width: 653px) {
                    padding: 66px 0 86px;
                }
                @media (max-width: 652px) {
                    padding: 66px 0 66px;
                }
                @media (max-width: 640px) {
                    padding: 66px 0 98px;
                    border-bottom: 2px solid #000;
                    width: 100%;
                }
            }
            &:nth-child(4) {
                margin: 0;
                padding: 66px 0 102px;
                border-right: none;
                border-bottom: none;
                @media (max-width: 640px) {
                    padding: 66px 0 100px;
                    width: 100%;
                    border-bottom: 2px solid #000;
                }
            }
            &:nth-child(odd) {
                justify-content: end;
                @media (max-width: 640px) {
                    justify-content: start;
                }
            }
            &:nth-child(even) {
                .card-image {
                    margin-left: 58px;
                    @media (max-width: 771px) {
                        margin-left: 3px;
                    }
                    @media (max-width: 767px) {
                        margin-left: 3px;
                    }
                }
            }
            .card-bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                img {
                    width: 100%;
                    height: 259px;
                }
            }
            .card-detail {
                margin-left: 37px;
                @media (max-width: 480px) {
                    margin-left: 6px;
                }
                h3 {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 800;
                    letter-spacing: 0px;
                    color: #fff;
                }
                span {
                    font-size: 14px;
                    line-height: 20px;
                    max-width: 224px;
                    width: 100%;
                    display: block;
                    color: #fff;
                }
            }
        }
    }
}