header {
    background-color: $bg-dark;
    padding: 14px 0 16px;
    .header-inner {
        width: 100%;
        @include justify(space-between);
        nav {
            max-width: 640px;
            width: 100%;
            padding: 38px 0 23px;
            @media (max-width: 767px) {
                min-height: 100px;
            }
            .menu {
                @media (max-width: 767px) {
                    display: block;
                    height: 50px;
                    width: 50px;
                    position: relative;
                    top: 24px;
                    margin-left: auto;
                }
                span {
                    @media (max-width: 767px) {
                        width: 17px;
                        height: 3px;
                        background-color: #fff;
                        position: absolute;
                        top: 19px;
                        right: 7px;
                        transform: translate(-50%, -50%);
                        transition: 0.3s all ease;
                    }
                    &:first-child {
                        @media (max-width: 767px) {
                            top: 26px;
                        }
                    }
                    &:last-child {
                        @media (max-width: 767px) {
                            top: 33px;
                        }
                    }
                }
                span.change {
                    @media (max-width: 767px) {
                        transform: rotate(45deg);
                        top: 27px;
                        right: 14px;
                        transition: 0.3s all ease;
                        &:last-child {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
            @include justify(center);
            ul {
                width: 100%;
                display: flex;
                z-index: 1;
                justify-content: end;
                @media (max-width: 767px) {
                    display: none;
                    position: absolute;
                    background-color: $bg-dark;
                    width: 100%;
                    top: 142px;
                    left: 0px;
                    text-align: center;
                }
                @media (max-width: 991px) {
                    justify-content: flex-end;
                }
                li {
                    margin-right: 22px;
                    margin-left: 22px;
                    @media (max-width: 767px) {
                        margin: 0 auto 10px;
                    }
                    @include justify(center);
                    a {
                        color: $p-clr;
                        position: relative;
                        font-size: 17px;
                        line-height: 23px;
                        @media (max-width: 767px) {
                            width: 100%;
                            border: none;
                        }
                        @media (max-width: 991px) {
                            font-size: 14px;
                            line-height: 20px;
                        }
                        &:hover {
                            color: #155d9a;
                        }
                        &::after {
                            content: '';
                            width: 1px;
                            height: 20px;
                            background-color: #fff;
                            position: absolute;
                            top: 2px;
                            right: -22.5px;
                            transform: skewX( 341deg);
                            @media (max-width: 991px) {
                                display: none;
                            }
                        }
                    }
                    &:nth-child(1) {
                        margin-left: 0;
                        @media (max-width: 767px) {
                            margin: 0 auto 10px;
                        }
                    }
                    &:nth-child(5) {
                        margin-right: 25px;
                        @media (max-width: 767px) {
                            margin: 0 auto 10px;
                        }
                        a::after {
                            display: none;
                        }
                    }
                    &:nth-child(6) {
                        margin-right: 0;
                        margin-left: 0;
                        a {
                            @include justify(center);
                            width: 30px;
                            padding: 2px 0;
                            border: 2px solid $i-clr;
                            border-radius: 50%;
                            &::after {
                                display: none;
                            }
                            i {
                                font-size: 17px;
                                line-height: 23px;
                                font-weight: 400;
                                color: #848581;
                            }
                        }
                    }
                }
            }
        }
    }
}